

.container {
  height: 90%;
  width: 90%;
  margin: 5% auto;
  // @include clearfix;
  overflow: auto;
  background-color: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 133px;

}

.title-box {
  background-color: $blue;
  @include size(600px, 100%);
}



.top-bar {
  display: flex;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
  @include size(60px, 100%);
  background-color: $light-blue;
  color: $white;
}

.minutes {
  margin-right: 5%;

}

.title-box-content {
  text-align: center;
  color: $white;
  position: relative;
  margin: auto;
  top: 30%;
  h4 {
    color: $light-blue;
  }
}

.main-content {
  height: 100%;
  width: 100%;
  // margin-top: 5%;

}

.main-title {
  @include size(50px, 100%, auto);
  border-bottom: 1px solid $light-grey;
}

button {
  border-radius: 20px;
  border: 1px solid $light-grey;
  background-color: white;
  font: $main-font;
  font-size: .9em;
  padding: 5px 20px;
}
 .main-title button:nth-child(1) {
   margin-right: 15px;
 }

.content {
  @include size(auto, $padding: 5%);
  overflow: auto;
}



.about {
  @include size($width: 63%);

  float: left;
}

.teacher {
  width: 33%;
  float: right;
}

.about, .teacher {
  @media #{$brk-narrow} {
    float: none;
    width: 100%;
  }
}

.videos {
  width: 100%;

}
// .check {
//   background-image: url('#{$path-img}/check.png');
//   height: 200px;
//   width: 200px;
//   background-repeat: no-repeat;
//   float: left;
//
//
//
//
// }

.description {
  width: 100%;


}
