@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin size($height: null, $width: null, $padding: null) {
  height: $height;
  width: $width;
  padding: $padding;
}
